/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 244em;
    width: 100%;
    z-index: 1;
    background-color: #FEF8ED;
    overflow-x: hidden;
}

main > section{
    display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    background-image: url(../images/bannerafbeelding1.jpg);
    background-color: black;
    transition: all .3s;
}

main > section:hover{
    opacity: 0.9;
    transform: scale(1.005);
}

main > section button{
    position: relative;
}

main > section:nth-child(6):hover{
    opacity: 1;
    transform: scale(1);
}

main > section:nth-child(2){
    margin-top: 3.35em;
}

main > section:last-of-type{
    margin-bottom: 3.35em;
}

main > section:nth-child(3){
    background-image: url(../images/bannerafbeelding2.jpg);
}

main > section:nth-child(4){
    background-image: url(../images/bannerafbeelding3.jpg);
}

main > section:nth-child(5) {
    background-image: url(../images/bannerafbeelding4.jpg);
}

main > section:nth-child(6){
    background-image: none;
    height:4em;
    overflow-x: scroll;
    overflow-y: hidden;
    display: block;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    position: relative;
}

main > section:nth-child(6) button{
    position: absolute;
    height: 3em;
    width: 3em;
    border-radius: 4em;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #98D5E6;
    z-index: 50;
    top: 50%;
    transition: all 0.2s;
}

main > section:nth-child(6) button:hover{
    background-color: rgba(0, 0, 0, 1);
}

main > section:nth-child(6) div {
    position: sticky;
    top: 0;
    left: 0;
    height: 30em;
    width: calc(100% - 1px);
    margin-top: -35em;
}

main > section:nth-child(6) button:nth-of-type(2){
    right: 0;
    margin-right: 1em;
}

main > section:nth-child(6) button:nth-of-type(1){
    left: 0;
    margin-left: 1em;
}

main ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    width: 1200%;
}

main li{
    width: 33%;
    height: 100%;
    scroll-snap-align: start;
}

main ul img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main a{
    height: 2em;
    box-shadow: none;
    background-color: #98D5E6;
    font-size: 0.7em;
    border-radius: 2em;
    border-style: none;
    align-self: flex-end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    padding-left: 1em;
    padding-right: 1em;
    text-decoration: none;
    color: black;
}

main a:hover {
    background-color: transparent;
    border: 0.2em solid #98D5E6;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    color: #98D5E6;
}

@media (width > 60em) {
    main > section:nth-child(2){
        background-image: url(../images/golf_le_fleur_banner1.png);
        margin-top: 4.75em;
    }

    main > section:nth-child(3) {
        background-image: url(../images/banner5.jpg);
    }

    main > section:nth-child(4) {
        background-image: url(../images/Banner6.jpg);
    }

    main > section:nth-child(7){
        margin-bottom: 4.75em;
    }

    main ul {
        width: 300%;
    }

    main {
        height: 232em;
    }
}

@media (width > 40em) and (width < 60em) {
    main ul {
        width: 600%; 
    }
}